In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt, timedelta
import winsound

curr_date = dt.today().strftime('%Y%m%d')

# Part 1 Read Pricing Data CSV from PE_01

In [74]:
%%time
df = pd.read_csv("legacy_conlin_contract20230206.csv", header = 0)
df.B1_EXVAT= df.B1_EXVAT.round(2)
df.B1_National_BUY_PRICE= df.B1_National_BUY_PRICE.round(2)
print(np.shape(df))
df.head(3)

(9425626, 19)
CPU times: total: 33.6 s
Wall time: 34.1 s

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,Category_Tower_01,1,National,FSQ432,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category_Tower_01,1,National,FSQ433,Blue Diamond,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Category_Tower_01,1,National,FSQ434,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Remove nan Resus Conlin buy price, zero buy, zero sell

In [75]:
df=df.loc[(df['CL_CONTR_CODE'].notnull())]
print(np.shape(df))
df=df.loc[(df['B1_EXVAT']!=0)]
print(np.shape(df))
df=df.loc[(df['CL_ORD_PRC_BND_1']!=0)]
print(np.shape(df))
df=df.drop(['DIST_CODE_x' ], axis=1)
df

(6973771, 19)
(6912936, 19)
(6912607, 19)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,Category,CENTRALLY_FUNDED
31,Category_Tower_04,2190,Sandwell and West Birmingham Hospitals NHS Tru...,FIC2975,e-Direct,20.0,278.40,232.00,4/11/2020 00:00:00,295.00,3/2/2020 00:00:00,AA131446,901.0,C2,232.00,AA131446,MBMS,1.0
32,Category_Tower_04,2190,Sandwell and West Birmingham Hospitals NHS Tru...,FIC2975,e-Direct,20.0,278.40,232.00,4/11/2020 00:00:00,295.00,3/2/2020 00:00:00,AA131446,901.0,E3,232.00,AA131446,MBMS,1.0
37,Category_Tower_06,1083,HST Royal Berkshire NHS Foundation Trust,FCB13275,e-Direct,20.0,1194.00,995.00,26/4/2019 00:00:00,1000.00,2/7/2014 00:00:00,AA135092,904.0,WA,995.00,AA135092,HCTED,1.0
38,Category_Tower_06,1083,HST Royal Berkshire NHS Foundation Trust,FCB13275,e-Direct,20.0,1194.00,995.00,26/4/2019 00:00:00,1000.00,2/7/2014 00:00:00,AA135092,904.0,WD,995.00,AA135092,HCTED,1.0
89,Category_Tower_04,2907,Derby Hospitals Orthopaedics,FAM8511,e-Direct,20.0,242.85,202.38,29/4/2019 00:00:00,221.39,3/2/2020 00:00:00,AA131452,901.0,77,202.38,AA131452,MBMS,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9424930,Category_Tower_06,6964,Ct06 Cf Npm N8 New System B6,GHB85424,e-Direct,20.0,10320.00,8600.00,27/1/2023 00:00:00,11326.00,18/11/2022 00:00:00,AA132940,901.0,U6,8600.00,AA132940,NPM,1.0
9424931,Category_Tower_06,6964,Ct06 Cf Npm N8 New System B6,GHB85424,e-Direct,20.0,10320.00,8600.00,27/1/2023 00:00:00,11326.00,18/11/2022 00:00:00,AA132940,903.0,MC,8600.00,AA132940,NPM,1.0
9424932,Category_Tower_06,6970,Ct06 Cf Npm N8 Upgrades B2,GHB85425,e-Direct,20.0,5994.00,4995.00,27/1/2023 00:00:00,5663.00,18/11/2022 00:00:00,AA132940,905.0,5E,4995.00,AA132940,NPM,1.0
9424933,Category_Tower_06,6970,Ct06 Cf Npm N8 Upgrades B2,GHB85425,e-Direct,20.0,5994.00,4995.00,27/1/2023 00:00:00,5663.00,18/11/2022 00:00:00,AA132940,907.0,0M,4995.00,AA132940,NPM,1.0
9424934,Category_Tower_06,6975,Ct06 Cf Npm N8 Upgrades B7,GHB85425,e-Direct,20.0,4800.00,4000.00,27/1/2023 00:00:00,5663.00,18/11/2022 00:00:00,AA132940,903.0,MC,4000.00,AA132940,NPM,1.0

## Add margin

In [76]:
df['%Margin']=round(((df['B1_EXVAT']-df['CL_ORD_PRC_BND_1'])/df['B1_EXVAT']),3)
df

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,Category,CENTRALLY_FUNDED,%Margin
31,Category_Tower_04,2190,Sandwell and West Birmingham Hospitals NHS Tru...,FIC2975,e-Direct,20.0,278.40,232.00,4/11/2020 00:00:00,295.00,3/2/2020 00:00:00,AA131446,901.0,C2,232.00,AA131446,MBMS,1.0,0.0
32,Category_Tower_04,2190,Sandwell and West Birmingham Hospitals NHS Tru...,FIC2975,e-Direct,20.0,278.40,232.00,4/11/2020 00:00:00,295.00,3/2/2020 00:00:00,AA131446,901.0,E3,232.00,AA131446,MBMS,1.0,0.0
37,Category_Tower_06,1083,HST Royal Berkshire NHS Foundation Trust,FCB13275,e-Direct,20.0,1194.00,995.00,26/4/2019 00:00:00,1000.00,2/7/2014 00:00:00,AA135092,904.0,WA,995.00,AA135092,HCTED,1.0,0.0
38,Category_Tower_06,1083,HST Royal Berkshire NHS Foundation Trust,FCB13275,e-Direct,20.0,1194.00,995.00,26/4/2019 00:00:00,1000.00,2/7/2014 00:00:00,AA135092,904.0,WD,995.00,AA135092,HCTED,1.0,0.0
89,Category_Tower_04,2907,Derby Hospitals Orthopaedics,FAM8511,e-Direct,20.0,242.85,202.38,29/4/2019 00:00:00,221.39,3/2/2020 00:00:00,AA131452,901.0,77,202.38,AA131452,MBMS,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9424930,Category_Tower_06,6964,Ct06 Cf Npm N8 New System B6,GHB85424,e-Direct,20.0,10320.00,8600.00,27/1/2023 00:00:00,11326.00,18/11/2022 00:00:00,AA132940,901.0,U6,8600.00,AA132940,NPM,1.0,0.0
9424931,Category_Tower_06,6964,Ct06 Cf Npm N8 New System B6,GHB85424,e-Direct,20.0,10320.00,8600.00,27/1/2023 00:00:00,11326.00,18/11/2022 00:00:00,AA132940,903.0,MC,8600.00,AA132940,NPM,1.0,0.0
9424932,Category_Tower_06,6970,Ct06 Cf Npm N8 Upgrades B2,GHB85425,e-Direct,20.0,5994.00,4995.00,27/1/2023 00:00:00,5663.00,18/11/2022 00:00:00,AA132940,905.0,5E,4995.00,AA132940,NPM,1.0,0.0
9424933,Category_Tower_06,6970,Ct06 Cf Npm N8 Upgrades B2,GHB85425,e-Direct,20.0,5994.00,4995.00,27/1/2023 00:00:00,5663.00,18/11/2022 00:00:00,AA132940,907.0,0M,4995.00,AA132940,NPM,1.0,0.0
9424934,Category_Tower_06,6975,Ct06 Cf Npm N8 Upgrades B7,GHB85425,e-Direct,20.0,4800.00,4000.00,27/1/2023 00:00:00,5663.00,18/11/2022 00:00:00,AA132940,903.0,MC,4000.00,AA132940,NPM,1.0,0.0

# Part 2 - Analyse

## 1. Create std dev summary

In [1]:
std_df=df.groupby(['CL_CONTR_CODE', 'PG_ID','CHANNEL'])['%Margin'].std().reset_index().sort_values(by=['%Margin'],ascending=False)
# add PGID Name and Category
pgid_name_class= pd.read_excel("PGID_name_classific.xlsx")
std_df= pd.merge(std_df, pgid_name_class,  how='left', on=['PG_ID'])
#drop columns
cols = ['CL_CONTR_CODE', 'PG_ID', 'PG_NAME','CHANNEL', 'Category', '%Margin']
std_df = std_df[cols]
std_df.to_excel('std_df_'+curr_date+'.xlsx', index = False)  
std_df

NameError: name 'df' is not defined

## 2. Filter Data by those with large Std dev

## Method 2. Filter data by tuples of more than one contract and PGID, then send list to libra

## Add tuples column Contract, PGID

In [71]:
std_df['Contract_PGID'] = list(zip(std_df.CL_CONTR_CODE, std_df.PG_ID))
std_df

,CL_CONTR_CODE,PG_ID,PG_NAME,CHANNEL,Category,%Margin,Contract_PGID
0,AA131446,2761,Msk Imperial College Healthcare Nhs Trust,e-Direct,MBMS,2.142545,"(AA131446, 2761)"
1,AA131452,1918,Kings College Hospital - Trauma,e-Direct,MBMS,2.051656,"(AA131452, 1918)"
2,AA131446,2525,Portsmouth Nhs Trust - Trauma,e-Direct,MBMS,1.045731,"(AA131446, 2525)"
3,AA131452,2525,Portsmouth Nhs Trust - Trauma,e-Direct,MBMS,1.027658,"(AA131452, 2525)"
4,AA131380,2494,Oxford University Hospitals - Trauma,e-Direct,MBMS,0.758794,"(AA131380, 2494)"
...,...,...,...,...,...,...,...
6763,AA138406,2830,HCTED Alder Hey Childrens,e-Direct,HCTED,NaN,"(AA138406, 2830)"
6764,AA138406,2833,HCTED Birmingham Womens and Childrens,e-Direct,Bespoke deal,NaN,"(AA138406, 2833)"
6765,AA138406,2836,HCTED Ashford & St Peters,e-Direct,MBMS,NaN,"(AA138406, 2836)"
6766,AA138406,2973,HCTED Hampshire Hospitals,e-Direct,HCTED,NaN,"(AA138406, 2973)"
6767,AA138406,3184,HCTED East Sussex Healthcare,e-Direct,MBMS,NaN,"(AA138406, 3184)"

In [72]:
#take subset of list
std_df_margin = std_df.loc[std_df['%Margin']>.01]
std_df_margin

,CL_CONTR_CODE,PG_ID,PG_NAME,CHANNEL,Category,%Margin,Contract_PGID
0,AA131446,2761,Msk Imperial College Healthcare Nhs Trust,e-Direct,MBMS,2.142545,"(AA131446, 2761)"
1,AA131452,1918,Kings College Hospital - Trauma,e-Direct,MBMS,2.051656,"(AA131452, 1918)"
2,AA131446,2525,Portsmouth Nhs Trust - Trauma,e-Direct,MBMS,1.045731,"(AA131446, 2525)"
3,AA131452,2525,Portsmouth Nhs Trust - Trauma,e-Direct,MBMS,1.027658,"(AA131452, 2525)"
4,AA131380,2494,Oxford University Hospitals - Trauma,e-Direct,MBMS,0.758794,"(AA131380, 2494)"
...,...,...,...,...,...,...,...
111,AA135184,1620,Ophthalmology – Northern Devon Healthcare,e-Direct,NaN,0.010500,"(AA135184, 1620)"
112,AA131404,2761,Msk Imperial College Healthcare Nhs Trust,e-Direct,MBMS,0.010247,"(AA131404, 2761)"
113,AA131388,2319,Gloucestershire Nhs Trust – Arthroscopy,e-Direct,MBMS,0.010080,"(AA131388, 2319)"
114,AA131450,2489,Sheffield Teaching Hospitals - Trauma,e-Direct,MBMS,0.010059,"(AA131450, 2489)"
115,AA131446,1098,Trauma County Durham & Darlington,e-Direct,MBMS,0.010002,"(AA131446, 1098)"

In [73]:
contract_pgid_tuples_list = list(set(std_df_margin['Contract_PGID'].to_list()))
contract_pgid_tuples_list

[('AA132238', 2209),
 ('AA135184', 3716),
 ('AA135184', 1620),
 ('AA131388', 5135),
 ('AA131388', 2319),
 ('AA131428', 1413),
 ('AA131384', 831),
 ('AA131384', 3784),
 ('AA126124', 2921),
 ('AA131452', 1703),
 ('AA131388', 927),
 ('AA131384', 5126),
 ('AA131434', 2525),
 ('AA131446', 2761),
 ('AA131450', 2489),
 ('AA131528', 1209),
 ('AA131370', 255),
 ('AA131380', 2494),
 ('AA126124', 3124),
 ('AA135212', 5759),
 ('AA131452', 1506),
 ('AA131432', 4372),
 ('AA131452', 1097),
 ('AA131452', 1652),
 ('AA131446', 1097),
 ('AA131446', 404),
 ('AA135180', 855),
 ('AA131388', 2209),
 ('AA131452', 2109),
 ('AA126124', 3092),
 ('AA131360', 1097),
 ('AA131384', 1322),
 ('AA131528', 2525),
 ('AA131388', 1461),
 ('AA131452', 278),
 ('AA131452', 3222),
 ('AA135042', 1293),
 ('AA131366', 76),
 ('AA134982', 1293),
 ('AA131360', 4370),
 ('AA135180', 1876),
 ('AA126124', 2838),
 ('AA131388', 1918),
 ('AA135220', 713),
 ('AA131446', 4372),
 ('AA131388', 899),
 ('AA131526', 1703),
 ('AA131418', 2260),
 ('AA131446', 2514),
 ('AA131360', 6859),
 ('AA131428', 2525),
 ('AA131404', 1703),
 ('AA131360', 1227),
 ('AA135192', 523),
 ('AA131360', 4372),
 ('AA131404', 2761),
 ('AA131452', 2525),
 ('AA131446', 2525),
 ('AA131446', 1814),
 ('AA135184', 430),
 ('AA131364', 1322),
 ('AA135180', 3677),
 ('AA135184', 631),
 ('AA137494', 2790),
 ('AA131446', 3784),
 ('AA131392', 1667),
 ('AA126124', 3180),
 ('AA132238', 2525),
 ('AA132236', 1413),
 ('AA132940', 2902),
 ('AA131452', 2209),
 ('AA131388', 759),
 ('AA135212', 1568),
 ('AA135184', 3623),
 ('AA131446', 1480),
 ('AA132940', 989),
 ('AA131356', 1055),
 ('AA132490', 5463),
 ('AA131446', 1098),
 ('AA135180', 5759),
 ('AA135184', 791),
 ('AA126124', 3194),
 ('AA131452', 408),
 ('AA131392', 76),
 ('AA132238', 1480),
 ('AA131418', 2506),
 ('AA131390', 1703),
 ('AA132940', 2232),
 ('AA131378', 1703),
 ('AA132238', 2294),
 ('AA131452', 1667),
 ('AA132238', 927),
 ('AA131452', 1322),
 ('AA135184', 1897),
 ('AA131390', 2907),
 ('AA131356', 1480),
 ('AA135228', 855),
 ('AA131422', 1322),
 ('AA131446', 1413),
 ('AA131388', 2507),
 ('AA131446', 458),
 ('AA131064', 3201),
 ('AA132238', 1121),
 ('AA132238', 1667),
 ('AA132238', 2506),
 ('AA131388', 1814),
 ('AA131388', 1460),
 ('AA131526', 2209),
 ('AA135212', 1604),
 ('AA131446', 76),
 ('AA131528', 1703),
 ('AA135212', 1613),
 ('AA131388', 1652),
 ('AA131452', 1918),
 ('AA135180', 1939),
 ('AA131446', 1918)]

In [78]:
std_dev_prices_df=df[df[['CONTRACT_ID','PG_ID']].apply(tuple, axis=1).isin(contract_pgid_tuples_list )]
std_dev_prices_df

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,Category,CENTRALLY_FUNDED,%Margin
498,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7383,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,3/2/2020 00:00:00,AA131388,907.0,60,399.64,AA131388,MBMS,1.0,-0.0
499,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7383,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,3/2/2020 00:00:00,AA131388,907.0,84,399.64,AA131388,MBMS,1.0,-0.0
500,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7384,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,3/2/2020 00:00:00,AA131388,907.0,60,399.64,AA131388,MBMS,1.0,-0.0
501,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7384,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,3/2/2020 00:00:00,AA131388,907.0,84,399.64,AA131388,MBMS,1.0,-0.0
508,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7388,e-Direct,20.0,42.69,35.58,6/1/2023 00:00:00,35.58,3/2/2020 00:00:00,AA131388,907.0,60,35.58,AA131388,MBMS,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9284600,Category_Tower_04,3784,Chesterfield Royal Hospital Nhs Foundation Tru...,FJY26002,e-Direct,20.0,1227.63,1023.03,13/1/2023 00:00:00,1088.33,17/11/2021 00:00:00,AA131446,901.0,MV,1023.03,AA131446,MBMS,1.0,0.0
9284601,Category_Tower_04,3784,Chesterfield Royal Hospital Nhs Foundation Tru...,FJY26002,e-Direct,20.0,1227.63,1023.03,13/1/2023 00:00:00,1088.33,17/11/2021 00:00:00,AA131446,901.0,S7,1023.03,AA131446,MBMS,1.0,0.0
9284602,Category_Tower_04,3784,Chesterfield Royal Hospital Nhs Foundation Tru...,FJY26003,e-Direct,20.0,1227.63,1023.03,13/1/2023 00:00:00,1088.33,17/11/2021 00:00:00,AA131446,901.0,6M,1023.03,AA131446,MBMS,1.0,0.0
9284603,Category_Tower_04,3784,Chesterfield Royal Hospital Nhs Foundation Tru...,FJY26003,e-Direct,20.0,1227.63,1023.03,13/1/2023 00:00:00,1088.33,17/11/2021 00:00:00,AA131446,901.0,MV,1023.03,AA131446,MBMS,1.0,0.0
9284604,Category_Tower_04,3784,Chesterfield Royal Hospital Nhs Foundation Tru...,FJY26003,e-Direct,20.0,1227.63,1023.03,13/1/2023 00:00:00,1088.33,17/11/2021 00:00:00,AA131446,901.0,S7,1023.03,AA131446,MBMS,1.0,0.0

## Add libra YTD

In [80]:
dataset = std_dev_prices_df
dataset_with_YTD= pd.merge(dataset,ytd_sales,on=['NPC','PG_ID'],how='left')
dataset_with_sales_YTD_4WKS= pd.merge(dataset_with_YTD,four_wks_sales,on=['NPC','PG_ID'],how='left')
#dataset_with_sales_YTD_4WKS.to_excel('regional_df_YTD_4WKS_'+curr_date+'.xlsx', index = False) 
dataset_with_sales_YTD_4WKS.head()

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,...,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,Category,CENTRALLY_FUNDED,%Margin,YTD_SUPPLIED_UNITS,YTD_SALES,4WKS_SUPPLIED_UNITS,4WKS_SALES
0,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7383,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,...,60,399.64,AA131388,MBMS,1.0,-0.0,NaN,NaN,NaN,NaN
1,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7383,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,...,84,399.64,AA131388,MBMS,1.0,-0.0,NaN,NaN,NaN,NaN
2,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7384,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,...,60,399.64,AA131388,MBMS,1.0,-0.0,NaN,NaN,NaN,NaN
3,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7384,e-Direct,20.0,479.56,399.63,6/1/2023 00:00:00,399.64,...,84,399.64,AA131388,MBMS,1.0,-0.0,NaN,NaN,NaN,NaN
4,Category_Tower_04,1652,Maidstone And Tunbridge Wells Nhs Trust Ojr,FBX7388,e-Direct,20.0,42.69,35.58,6/1/2023 00:00:00,35.58,...,60,35.58,AA131388,MBMS,1.0,0.0,NaN,NaN,NaN,NaN

## Filter for YTD Sales

In [85]:
std_dev_with_sales = dataset_with_sales_YTD_4WKS.loc[dataset_with_sales_YTD_4WKS['YTD_SUPPLIED_UNITS'].notnull()]
std_dev_with_sales=std_dev_with_sales.drop(['CL_CONTR_CODE' ], axis=1)
std_dev_with_sales

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,...,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,Category,CENTRALLY_FUNDED,%Margin,YTD_SUPPLIED_UNITS,YTD_SALES,4WKS_SUPPLIED_UNITS,4WKS_SALES
16,Category_Tower_04,1480,Pennine Acute Hospitals Trust Trauma,FCB9725,e-Direct,20.0,19.20,16.00,19/5/2022 00:00:00,16.00,...,905.0,RW,16.00,MBMS,1.0,0.0,19.0,364.80,10.0,192.00
17,Category_Tower_04,1480,Pennine Acute Hospitals Trust Trauma,FCB9737,e-Direct,20.0,69.60,58.00,19/5/2022 00:00:00,58.00,...,905.0,RW,58.00,MBMS,1.0,0.0,56.0,3840.00,10.0,696.00
26,Category_Tower_04,1480,Pennine Acute Hospitals Trust Trauma,FJU067,e-Direct,20.0,255.60,213.00,19/5/2022 00:00:00,213.00,...,905.0,RW,213.00,MBMS,1.0,0.0,86.0,21685.20,10.0,2556.00
40,Category_Tower_04,1480,Pennine Acute Hospitals Trust Trauma,FJU1072,e-Direct,20.0,553.20,461.00,19/5/2022 00:00:00,461.00,...,905.0,RW,461.00,MBMS,1.0,0.0,1.0,553.20,NaN,NaN
87,Category_Tower_04,1480,Pennine Acute Hospitals Trust Trauma,FQS6856,e-Direct,20.0,49.29,41.08,15/4/2020 00:00:00,52.00,...,905.0,RW,41.08,MBMS,1.0,0.0,2.0,98.59,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717080,Category_Tower_04,1918,Kings College Hospital - Trauma,FCB16786,e-Direct,20.0,80.98,67.48,24/10/2022 00:00:00,67.49,...,907.0,KT,67.49,MBMS,1.0,-0.0,3.0,242.96,3.0,242.96
717081,Category_Tower_04,1918,Kings College Hospital - Trauma,FCB16786,e-Direct,20.0,80.98,67.48,24/10/2022 00:00:00,67.49,...,907.0,XQ,67.49,MBMS,1.0,-0.0,3.0,242.96,3.0,242.96
717094,Category_Tower_04,1918,Kings College Hospital - Trauma,FIB200,e-Direct,20.0,326.40,272.00,24/10/2022 00:00:00,272.01,...,907.0,KS,272.01,MBMS,1.0,-0.0,2.0,652.81,NaN,NaN
717095,Category_Tower_04,1918,Kings College Hospital - Trauma,FIB200,e-Direct,20.0,326.40,272.00,24/10/2022 00:00:00,272.01,...,907.0,KT,272.01,MBMS,1.0,-0.0,2.0,652.81,NaN,NaN
717096,Category_Tower_04,1918,Kings College Hospital - Trauma,FIB200,e-Direct,20.0,326.40,272.00,24/10/2022 00:00:00,272.01,...,907.0,XQ,272.01,MBMS,1.0,-0.0,2.0,652.81,NaN,NaN

In [86]:
std_dev_with_sales.to_excel('std_dev_with_sales_'+curr_date+'.xlsx', index = False)

## Method 1. Filter data by Contract and PGID, then send list to libra, then filter by negative and positive margins

In [ ]:
contract='AA131528'
pgid=1269
one_contract=df.loc[(df['CL_CONTR_CODE']==contract)]
one_contract_one_PGID=one_contract.loc[(one_contract['PG_ID']==pgid)].sort_values(by=['%Margin'],ascending=False)
one_contract_one_PGID.to_excel(contract+'_'+'_std_df_'+curr_date+'.xlsx', index = False)  
print(np.shape(one_contract_one_PGID))
one_contract_one_PGID

## Create lists with negative margins and positive margins

In [58]:
neg_margin=one_contract_one_PGID.loc[(one_contract_one_PGID['%Margin']<0)]
neg_margin_NPCs = list(set(neg_margin['NPC'].to_list()))
pos_margin=one_contract_one_PGID.loc[(one_contract_one_PGID['%Margin']>0)]
pos_margin_NPCs = list(set(pos_margin['NPC'].to_list()))
print(len(neg_margin_NPCs))
print(len(pos_margin_NPCs))

0
21

## Read Sales Data

In [60]:
ytd_sales = pd.read_csv("libra2023_YTD_Sales.csv", header = 0)
four_wks_sales = pd.read_csv("libra2023_four_Weeks_Sales.csv", header = 0)

In [61]:
ytd_sales.head(3)

      NPC  PG_ID  YTD_SUPPLIED_UNITS  YTD_SALES
0  AAA003      1                 2.0     680.40
1  AAG000      1            224000.0    8398.85
2  AAG000   4378              7000.0     300.18

## Filter YTD Sales by PGID and NPCs

In [63]:
pgid_YTD_sales_summary=ytd_sales.loc[(ytd_sales['PG_ID']==pgid)] 
pgid_YTD_sales_summary

             NPC  PG_ID  YTD_SUPPLIED_UNITS  YTD_SALES
35916   FAL17962   1269                15.0    4241.70
49312     FBV012   1269                 2.0     424.10
49336     FBV031   1269                10.0    1243.09
49345     FBV044   1269               216.0    5937.30
49359     FBV082   1269                71.0   10224.00
...          ...    ...                 ...        ...
244268    FTJ860   1269                 2.0    2222.80
244269    FTJ862   1269                 7.0     388.99
244270    FTJ863   1269                 2.0     114.46
244271    FTJ865   1269                 2.0     266.74
244272    FTJ866   1269                 1.0     137.38

[4166 rows x 4 columns]

## Merge YTD Sales with neg and pos margin

In [64]:
neg_margin_YTD_sales_summary_NPCs= neg_margin_YTD_sales_summary[neg_margin_YTD_sales_summary['NPC'].isin(pos_margin_NPCs)]
neg_margin_YTD_sales_summary_NPCs

Empty DataFrame
Columns: [NPC, PG_ID, YTD_SUPPLIED_UNITS, YTD_SALES]
Index: []

In [65]:
pos_margin_YTD_sales_summary_NPCs= neg_margin_YTD_sales_summary[neg_margin_YTD_sales_summary['NPC'].isin(pos_margin_NPCs)]
pos_margin_YTD_sales_summary_NPCs

Empty DataFrame
Columns: [NPC, PG_ID, YTD_SUPPLIED_UNITS, YTD_SALES]
Index: []

## Sand-pit

## Filter by one contract

In [8]:
legacy_conlin_one_contract=legacy_with_conlin_contracts.loc[(legacy_with_conlin_contracts['CL_CONTR_CODE']=='AA131446')]
legacy_conlin_one_contract

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
18545,FJD10051,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.40,AA131446,904.0,0J,FJD10051,793.00,904_0J_FJD10051,904.0,0J,-0.25
18546,FJD10051,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.40,AA131446,904.0,FS,FJD10051,793.00,904_FS_FJD10051,904.0,FS,-0.25
18547,FJD10051,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.40,AA131446,904.0,I2,FJD10051,793.00,904_I2_FJD10051,904.0,I2,-0.25
18548,FJD10051,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.40,AA131446,907.0,I2,FJD10051,793.00,907_I2_FJD10051,907.0,I2,-0.25
18549,FJD10052,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.40,AA131446,904.0,0J,FJD10052,793.00,904_0J_FJD10052,904.0,0J,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10266608,FQC122,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,226.80,AA131446,907.0,PW,FQC122,226.80,907_PW_FQC122,907.0,PW,0.00
10266636,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.88,AA131446,901.0,3D,FQU7188,51.88,901_3D_FQU7188,901.0,3D,0.00
10266637,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.88,AA131446,904.0,VC,FQU7188,51.88,904_VC_FQU7188,904.0,VC,0.00
10266638,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.88,AA131446,907.0,3V,FQU7188,51.88,907_3V_FQU7188,907.0,3V,0.00
10266639,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.88,AA131446,907.0,PW,FQU7188,51.88,907_PW_FQU7188,907.0,PW,0.00

In [9]:
one_contract=legacy_conlin_one_contract.drop_duplicates(['NPC', 'PG_ID','B1_EXVAT','B1_COST_PRICE'])
one_contract

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
18545,FJD10051,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10051,793.00,904_0J_FJD10051,904.0,0J,-0.25
18549,FJD10052,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10052,793.00,904_0J_FJD10052,904.0,0J,-0.25
18553,FJD10053,76.0,2022-06-24 00:00:00,Buy Only,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10053,793.00,904_0J_FJD10053,904.0,0J,-0.25
18557,FJD10054,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10054,793.00,904_0J_FJD10054,904.0,0J,-0.25
18561,FJD10055,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10055,793.00,904_0J_FJD10055,904.0,0J,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10264588,FBX2663,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,78.650000,AA131446,901.0,3D,FBX2663,78.65,901_3D_FBX2663,901.0,3D,-0.00
10264613,FBX983,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,78.650000,AA131446,901.0,3D,FBX983,78.65,901_3D_FBX983,901.0,3D,-0.00
10264617,FBX998,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,78.658333,AA131446,901.0,3D,FBX998,78.66,901_3D_FBX998,901.0,3D,-0.00
10266605,FQC122,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,226.800000,AA131446,901.0,3D,FQC122,226.80,901_3D_FQC122,901.0,3D,0.00
10266636,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.880000,AA131446,901.0,3D,FQU7188,51.88,901_3D_FQU7188,901.0,3D,0.00

In [6]:
legacy_conlin_one_contract.to_excel('legacy_conlin_one_contract_'+curr_date+'.xlsx', index = False)

In [11]:
transacted_one_contract=one_contract.loc[(one_contract['ITEM_STATUS']=='Transacted')]
transacted_one_contract

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
18545,FJD10051,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10051,793.00,904_0J_FJD10051,904.0,0J,-0.25
18549,FJD10052,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10052,793.00,904_0J_FJD10052,904.0,0J,-0.25
18557,FJD10054,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10054,793.00,904_0J_FJD10054,904.0,0J,-0.25
18561,FJD10055,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10055,793.00,904_0J_FJD10055,904.0,0J,-0.25
18565,FJD10056,76.0,2022-06-24 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,634.400000,AA131446,904.0,0J,FJD10056,793.00,904_0J_FJD10056,904.0,0J,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10264588,FBX2663,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,78.650000,AA131446,901.0,3D,FBX2663,78.65,901_3D_FBX2663,901.0,3D,-0.00
10264613,FBX983,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,78.650000,AA131446,901.0,3D,FBX983,78.65,901_3D_FBX983,901.0,3D,-0.00
10264617,FBX998,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,78.658333,AA131446,901.0,3D,FBX998,78.66,901_3D_FBX998,901.0,3D,-0.00
10266605,FQC122,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,226.800000,AA131446,901.0,3D,FQC122,226.80,901_3D_FQC122,901.0,3D,0.00
10266636,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.880000,AA131446,901.0,3D,FQU7188,51.88,901_3D_FQU7188,901.0,3D,0.00

In [12]:
transacted_one_contract.to_excel('transacted_one_contract_'+curr_date+'.xlsx', index = False)

## Filter by those with margin

In [12]:
contracts_with_margin=legacy_with_conlin_contracts.loc[(legacy_with_conlin_contracts['%Margin']>0)]
contracts_with_margin

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
18725,FJD144,76.0,2020-12-16 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1712.000000,AA131392,904.0,FS,FJD144,1643.52,904_FS_FJD144,904.0,FS,0.040
18726,FJD144,76.0,2020-12-16 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1712.000000,AA131392,907.0,I2,FJD144,1643.52,907_I2_FJD144,907.0,I2,0.040
18727,FJD145,76.0,2020-12-16 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1818.000000,AA131392,904.0,FS,FJD145,1745.28,904_FS_FJD145,904.0,FS,0.040
18728,FJD145,76.0,2020-12-16 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1818.000000,AA131392,907.0,I2,FJD145,1745.28,907_I2_FJD145,907.0,I2,0.040
18729,FJD146,76.0,2020-12-16 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1985.000000,AA131392,904.0,FS,FJD146,1905.60,904_FS_FJD146,904.0,FS,0.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10266352,FIC27776,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,448.450000,AA131360,907.0,PW,FIC27776,386.98,907_PW_FIC27776,907.0,PW,0.137
10266610,FQC402,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,206.109167,AA132238,901.0,3D,FQC402,187.63,901_3D_FQC402,901.0,3D,0.090
10266611,FQC402,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,206.109167,AA132238,904.0,VC,FQC402,187.63,904_VC_FQC402,904.0,VC,0.090
10266612,FQC402,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,206.109167,AA132238,907.0,3V,FQC402,187.63,907_3V_FQC402,907.0,3V,0.090
10266613,FQC402,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,206.109167,AA132238,907.0,PW,FQC402,187.63,907_PW_FQC402,907.0,PW,0.090

In [17]:
contracts_with_neg_margin=legacy_with_conlin_contracts.loc[(legacy_with_conlin_contracts['%Margin']<0)]
contracts_with_neg_margin

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
119,FBV1885,76.0,2021-04-09 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,148.410000,AA131366,904.0,0J,FBV1885,486.00,904_0J_FBV1885,904.0,0J,-2.275
120,FBV1885,76.0,2021-04-09 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,148.410000,AA131366,904.0,FS,FBV1885,486.00,904_FS_FBV1885,904.0,FS,-2.275
121,FBV1885,76.0,2021-04-09 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,148.410000,AA131366,907.0,I2,FBV1885,486.00,907_I2_FBV1885,907.0,I2,-2.275
122,FBV1946,76.0,2021-04-09 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1989.770000,AA131366,904.0,0J,FBV1946,4851.00,904_0J_FBV1946,904.0,0J,-1.438
123,FBV1946,76.0,2021-04-09 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1989.770000,AA131366,904.0,FS,FBV1946,4851.00,904_FS_FBV1946,904.0,FS,-1.438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10266364,FIC4070,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,205.413333,AA131452,907.0,PW,FIC4070,205.59,907_PW_FIC4070,907.0,PW,-0.001
10266627,FQD6015,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,32.474167,AA131394,901.0,3D,FQD6015,36.08,901_3D_FQD6015,901.0,3D,-0.111
10266628,FQD6015,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,32.474167,AA131394,904.0,VC,FQD6015,36.08,904_VC_FQD6015,904.0,VC,-0.111
10266629,FQD6015,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,32.474167,AA131394,907.0,3V,FQD6015,36.08,907_3V_FQD6015,907.0,3V,-0.111
10266630,FQD6015,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,32.474167,AA131394,907.0,PW,FQD6015,36.08,907_PW_FQD6015,907.0,PW,-0.111

In [18]:
contracts_margin_std_summary=legacy_with_conlin_contracts.groupby(['CL_CONTR_CODE', 'PG_ID'])['%Margin'].std().reset_index()
contracts_margin_std_summary.to_excel('contracts_margin_std_summary_'+curr_date+'.xlsx', index = False)  
contracts_margin_std_summary

     CL_CONTR_CODE   PG_ID   %Margin
0         00040426  3832.0  0.000000
1         07187200  1525.0  0.311232
2         AA035180   631.0       NaN
3         AA125992  2777.0  0.000000
4         AA125992  2780.0  0.000000
...            ...     ...       ...
7844      AA137750  1667.0  0.000000
7845      AA137750  2494.0  0.000000
7846      AA137750  2699.0  0.000000
7847      AA137750  4372.0  0.000000
7848      FIC60917   255.0  0.000000

[7849 rows x 3 columns]

## Filter data by contract list with margin std

In [31]:
contract_margins_list = pd.read_excel('contract_list_std.xlsx')
contract_margins_list
contract_list = list(set(contract_margins_list['CL_CONTR_CODE'].to_list()))
contract_list

['AA131388',
 'AA132232',
 'AA129438',
 'AA132238',
 'AA131446',
 'AA131360',
 'AA131452']

In [32]:
contracts_with_large_std=legacy_with_conlin_contracts[legacy_with_conlin_contracts['CL_CONTR_CODE'].isin(contract_list)]
contracts_with_large_std

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
10,FAL17962,76.0,2021-11-05,Transacted,20.0,e-Direct,Category_Tower_04,1342.109667,AA131360,904.0,0J,FAL17962,1342.11,904_0J_FAL17962,904.0,0J,-0.00
11,FAL17962,76.0,2021-11-05,Transacted,20.0,e-Direct,Category_Tower_04,1342.109667,AA131360,904.0,FS,FAL17962,1342.11,904_FS_FAL17962,904.0,FS,-0.00
12,FAL17962,76.0,2021-11-05,Transacted,20.0,e-Direct,Category_Tower_04,1342.109667,AA131360,904.0,I2,FAL17962,1342.11,904_I2_FAL17962,904.0,I2,-0.00
13,FAL17962,76.0,2021-11-05,Transacted,20.0,e-Direct,Category_Tower_04,1342.109667,AA131360,907.0,I2,FAL17962,1342.11,907_I2_FAL17962,907.0,I2,-0.00
14,FAL18351,76.0,2021-11-05 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,76.500000,AA131360,904.0,0J,FAL18351,76.50,904_0J_FAL18351,904.0,0J,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10266613,FQC402,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,206.109167,AA132238,907.0,PW,FQC402,187.63,907_PW_FQC402,907.0,PW,0.09
10266636,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.880000,AA131446,901.0,3D,FQU7188,51.88,901_3D_FQU7188,901.0,3D,0.00
10266637,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.880000,AA131446,904.0,VC,FQU7188,51.88,904_VC_FQU7188,904.0,VC,0.00
10266638,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.880000,AA131446,907.0,3V,FQU7188,51.88,907_3V_FQU7188,907.0,3V,0.00
10266639,FQU7188,6859.0,2022-11-11,Transacted,20.0,e-Direct,Category_Tower_04,51.880000,AA131446,907.0,PW,FQU7188,51.88,907_PW_FQU7188,907.0,PW,0.00

In [33]:
contracts_with_large_std=legacy_with_conlin_contracts[legacy_with_conlin_contracts['CL_CONTR_CODE'].isin(['AA131388'])]
contracts_with_large_std

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
49,FBV028,76.0,2021-07-12,Transacted,20.0,e-Direct,Category_Tower_04,732.34,AA131388,904.0,0J,FBV028,732.34,904_0J_FBV028,904.0,0J,0.0
50,FBV028,76.0,2021-07-12,Transacted,20.0,e-Direct,Category_Tower_04,732.34,AA131388,904.0,FS,FBV028,732.34,904_FS_FBV028,904.0,FS,0.0
51,FBV028,76.0,2021-07-12,Transacted,20.0,e-Direct,Category_Tower_04,732.34,AA131388,904.0,I2,FBV028,732.34,904_I2_FBV028,904.0,I2,0.0
52,FBV028,76.0,2021-07-12,Transacted,20.0,e-Direct,Category_Tower_04,732.34,AA131388,907.0,I2,FBV028,732.34,907_I2_FBV028,907.0,I2,0.0
53,FBV029,76.0,2021-07-12,Transacted,20.0,e-Direct,Category_Tower_04,437.61,AA131388,904.0,0J,FBV029,437.61,904_0J_FBV029,904.0,0J,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10264608,FBX823,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,1744.55,AA131388,907.0,PW,FBX823,1744.55,907_PW_FBX823,907.0,PW,0.0
10264609,FBX825,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,5112.19,AA131388,901.0,3D,FBX825,5112.19,901_3D_FBX825,901.0,3D,0.0
10264610,FBX825,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,5112.19,AA131388,904.0,VC,FBX825,5112.19,904_VC_FBX825,904.0,VC,0.0
10264611,FBX825,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,5112.19,AA131388,907.0,3V,FBX825,5112.19,907_3V_FBX825,907.0,3V,0.0
10264612,FBX825,6859.0,2022-11-11 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,5112.19,AA131388,907.0,PW,FBX825,5112.19,907_PW_FBX825,907.0,PW,0.0

In [35]:
one_pgid=contracts_with_large_std.loc[(contracts_with_large_std['PG_ID']==2260)]
print(np.shape(one_pgid))
one_pgid

(27780, 17)

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE,%Margin
4362579,FBX23730,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,34.97,AA131388,920.0,L6,FBX23730,34.97,920_L6_FBX23730,920.0,L6,0.0
4363828,FBX7383,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,399.64,AA131388,920.0,L6,FBX7383,399.64,920_L6_FBX7383,920.0,L6,0.0
4363829,FBX7384,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,399.64,AA131388,920.0,L6,FBX7384,399.64,920_L6_FBX7384,920.0,L6,0.0
4363830,FBX7386,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,136.28,AA131388,920.0,L6,FBX7386,136.28,920_L6_FBX7386,920.0,L6,0.0
4363831,FBX7388,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,35.58,AA131388,920.0,L6,FBX7388,35.58,920_L6_FBX7388,920.0,L6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435542,FQX453,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,27.76,AA131388,920.0,L6,FQX453,27.76,920_L6_FQX453,920.0,L6,-0.0
4435543,FQX454,2260.0,2021-05-17 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,443.38,AA131388,920.0,L6,FQX454,443.38,920_L6_FQX454,920.0,L6,0.0
4435544,FQX455,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,443.38,AA131388,920.0,L6,FQX455,443.38,920_L6_FQX455,920.0,L6,0.0
4435545,FQX456,2260.0,2021-05-17,Transacted,20.0,e-Direct,Category_Tower_04,253.79,AA131388,920.0,L6,FQX456,253.79,920_L6_FQX456,920.0,L6,0.0
4435546,FQX457,2260.0,2021-05-17 00:00:00,Transacted,20.0,e-Direct,Category_Tower_04,253.79,AA131388,920.0,L6,FQX457,253.79,920_L6_FQX457,920.0,L6,0.0

In [36]:
one_pgid.to_excel('one_pgid_contract_'+curr_date+'.xlsx', index = False)

## Number of NPCs on Contracts

In [7]:
contracts_npcs=legacy_with_conlin_contracts.groupby('CL_CONTR_CODE').size() \
  .reset_index(name='CL_NSV_CODE')
contracts_npcs

    CL_CONTR_CODE  CL_NSV_CODE
0        00040426         1524
1        07187200          708
2        AA035180            1
3        AA125992         6165
4        AA125994          236
..            ...          ...
450      AA137686            3
451      AA137696          127
452      AA137702          286
453      AA137750         5920
454      FIC60917           64

[455 rows x 2 columns]

In [8]:
contracts_npcs.to_excel('contracts_npcs_'+curr_date+'.xlsx', index = False)

In [9]:
one_contract=legacy_with_conlin_contracts.loc[(legacy_with_conlin_contracts['CL_CONTR_CODE']=='AA137632')]
print(np.shape(one_contract))
one_contract.to_excel('one_contract_'+curr_date+'.xlsx', index = False)                                                  
one_contract

(207, 16)

,NPC,PG_ID,EFFECTIVE_DATE,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,CL_CONTR_CODE,WHSE_CODE_x,CL_DISTR_NO,CL_NSV_CODE,B1_COST_PRICE,WHSE_DIST_NPC,WHSE_CODE_y,DIST_CODE
1212694,FRA9763,860.0,2021-08-19,Transacted,20.0,e-Direct,Category_Tower_06,2500.0,AA137632,901.0,26,FRA9763,2500.0,901_26_FRA9763,901.0,26
1212695,FRA9763,860.0,2021-08-19,Transacted,20.0,e-Direct,Category_Tower_06,2500.0,AA137632,907.0,26,FRA9763,2500.0,907_26_FRA9763,907.0,26
1212696,FRA9764,860.0,2021-08-19,Transacted,20.0,e-Direct,Category_Tower_06,2500.0,AA137632,901.0,26,FRA9764,2500.0,901_26_FRA9764,901.0,26
1212697,FRA9764,860.0,2021-08-19,Transacted,20.0,e-Direct,Category_Tower_06,2500.0,AA137632,907.0,26,FRA9764,2500.0,907_26_FRA9764,907.0,26
1212698,FRA9765,860.0,2021-08-19,Transacted,20.0,e-Direct,Category_Tower_06,2500.0,AA137632,901.0,26,FRA9765,2500.0,901_26_FRA9765,901.0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9683681,FRJ27564,5393.0,2021-07-07,Transacted,20.0,e-Direct,Category_Tower_06,190.0,AA137632,905.0,91,FRJ27564,190.0,905_91_FRJ27564,905.0,91
9683682,FRJ27565,5393.0,2021-07-07,Transacted,20.0,e-Direct,Category_Tower_06,190.0,AA137632,905.0,91,FRJ27565,190.0,905_91_FRJ27565,905.0,91
9683683,FRJ27569,5393.0,2021-07-07,Transacted,20.0,e-Direct,Category_Tower_06,395.0,AA137632,905.0,91,FRJ27569,395.0,905_91_FRJ27569,905.0,91
9683684,FRJ27570,5393.0,2021-07-07,Transacted,20.0,e-Direct,Category_Tower_06,395.0,AA137632,905.0,91,FRJ27570,395.0,905_91_FRJ27570,905.0,91
9683685,FRJ27571,5393.0,2021-07-07,Transacted,20.0,e-Direct,Category_Tower_06,395.0,AA137632,905.0,91,FRJ27571,395.0,905_91_FRJ27571,905.0,91